2. 自動推播新聞工具.json
{
  "name": "2. 自動推播新聞工具",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -320,
        32
      ],
      "id": "3734b4f9-ad6f-41ee-8bc3-9eac58fd93b5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -112,
        32
      ],
      "id": "f55c5ffd-7bb2-431b-b624-c2ef423dc722",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=以下是今天的新聞列表：\n- 英文翻成繁體中文\n- 統一寫在同一個郵件裡面\n- 請從中篩選出與「人工智慧、AI、機器學習、大型語言模型」相關的新聞\n- {{ $json['文章'] }}",
        "options": {
          "systemMessage": "="
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        512,
        32
      ],
      "id": "394f5513-63ba-4c8f-9a42-1e06b0d7fba1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        512,
        272
      ],
      "id": "0b140f1e-21d9-4c70-835d-a16f74fa571e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "aiclNf6CddJ4EzEy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "cbes.101065@gmail.com",
        "subject": "=🤖 今日 AI 新聞  {{ $today }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        848,
        32
      ],
      "id": "9d306fbb-7228-49fd-bac2-3b871b164502",
      "name": "Send a message",
      "webhookId": "3044dd81-782b-4fbf-8178-ee5e3f3157e3",
      "credentials": {
        "gmailOAuth2": {
          "id": "NoRZ1DlxrD5MTesQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "文章"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        320,
        32
      ],
      "id": "b860ed3f-2cde-4b67-8821-479e947907c5",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d0123469-1b88-4cc9-afaa-e7d611f6bc56",
              "name": "文章",
              "value": "={{ $json.title }}\n{{ $json.link }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        96,
        32
      ],
      "id": "274a95de-1879-4410-9a2b-b67196742f80",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6c150c50-ddf9-4291-8f7f-083b3a21cb85",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6f6f9c20fbd33c0a10d9492e4b1f65a2b426faac8529cbf03f6b29bad10359ee"
  },
  "id": "IU3DmfB3LN6ladL4",
  "tags": []
}